{% extends "base.html.twig" %}

{% block title %}
    List of crappy books
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container mt-3">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
            <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Books</h1>
        </div>
        <hr>
            
        <div>
            {{form_start(form)}}
            {{form_widget(form.name)}}
            {{form_widget(form.submit)}}
            {{form_end(form)}}
            <br>
            <br>
        </div>
        <a href="{{ path ('create_book') }}" class="btn btn-dark">Add</a>
        <br>
        <br>
    <div class="card shadow mb-4">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>ISBN</th>
                    <th>Author</th>
                    <th>Description</th>
                    <th>Cost</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tfoot>
            {% for book in books %}
               <tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.description }}</td>
                    <td>{{ book.cost }}</td>
                    <td><a href="book/edit/{{ book.id }}" class="btn btn-dark">Edit</a></td>
                    <td><a href="book/delete/{{ book.id }}" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div> 
    </div>
            <div class="col-2">
            </div>
        </div>
    </div>
<script>
    $(document).ready(function() {
        $(".btn-danger").click(function() {
            if(!confirm("Are you sure?"))
                {
                    return false;
                }
            });
    });
</script>
{% endblock %}